<ul class="app_menu">
  <li class="app_menu_item"><a [routerLink]="['media']" class="no_link">Media</a></li>
  <li class="app_menu_item"><a [routerLink]="['stddev']" class="no_link">Derivada estandar</a></li>
  <li class="app_menu_item"><a [routerLink]="['correlation']" class="no_link">Correlacion</a></li>
  <li class="app_menu_item"><a [routerLink]="['linear-regression']" class="no_link">Regresion lineal</a></li>
  <li class="app_menu_item"><a [routerLink]="['simpson']" class="no_link">simpson</a></li>
</ul>

<div class="app_vista">
  <router-outlet></router-outlet>
</div>